on:
  workflow_call:
    secrets:
      PYPI_API_TOKEN:
        required: true
    inputs:
      python-version:
        required: true
        type: string
      build-Linux:
        type: boolean
        default: false
      build-macOS:
        type: boolean
        default: false
      build-Windows:
        type: boolean
        default: false
      brew-package:
        type: string
        default: ""
      apt-package:
        type: string
        default: ""
      mingw-package:
        type: string
        default: ""

jobs:

  linux:
    if: ${{ inputs.build-Linux }}
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          submodules: true

      - name: Install apt packages
        if: ${{ inputs.apt-package != '' }}
        run: |
          sudo apt-get update
          sudo apt-get install -y ${{ inputs.apt-package }}

      - name: Build wheels
        uses: pypa/cibuildwheel@v3.2.1
        env:
          CC: gcc
          CXX: g++
        with:
          output-dir: dist

      - uses: actions/upload-artifact@v4
        with:
          name: linux_wheels
          path: dist/*

  macos:
    if: ${{ inputs.build-macOS }}
    runs-on: macos-latest

    steps:
      - uses: maxim-lobanov/setup-xcode@v1
        with:
          xcode-version: "16.4"

      - name: Install GCC
        run: |
          brew update
          brew install gcc
     
      - name: "Setup GNU Fortran"
        id: setup-fortran
        uses: fortran-lang/setup-fortran@v1
          

      - name: Install brew packages
        if: ${{ inputs.brew-package != '' }}
        run: |
          brew install ${{ inputs.brew-package }}

      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          submodules: true

      - name: Build wheels
        uses: pypa/cibuildwheel@v3.2.1
        env:
          PYVISTA_OFF_SCREEN: "true"
          LIBGL_ALWAYS_SOFTWARE: "1"
          MESA_GL_VERSION_OVERRIDE: "3.3"
          MACOSX_DEPLOYMENT_TARGET: "15.0"
        with:
          output-dir: dist

      - uses: actions/upload-artifact@v4
        with:
          name: macos_wheels
          path: dist/*

  windows:
    if: ${{ inputs.build-Windows }}
    runs-on: windows-latest

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          submodules: true

      - uses: msys2/setup-msys2@v2
        if: ${{ inputs.mingw-package != '' }}
        id: msys2
        with:
          msystem: MINGW64
          install: ${{ inputs.mingw-package }}
          path-type: inherit

      - uses: seanmiddleditch/gha-setup-ninja@master

      - name: Add MSYS2 to PATH
        run: |
          echo "${{ steps.msys2.outputs.msys2-location }}/mingw64/bin" >> $env:GITHUB_PATH

      - name: Build wheels
        uses: pypa/cibuildwheel@v3.2.1
        env:
          CMAKE_ARGS: "-DPKG_CONFIG_EXECUTABLE=${{ steps.msys2.outputs.msys2-location }}/mingw64/bin/pkg-config.exe"
          CMAKE_GENERATOR: Ninja
        with:
          output-dir: dist

      - uses: actions/upload-artifact@v4
        with:
          name: windows_wheels
          path: dist/*

  publish:
    if: >
      always() &&
      startsWith(github.ref, 'refs/tags/') &&
      !cancelled() &&
      (needs.linux.result == 'success' || needs.linux.result == 'skipped') &&
      (needs.macos.result == 'success' || needs.macos.result == 'skipped') &&
      (needs.windows.result == 'success' || needs.windows.result == 'skipped')
    needs: [linux, macos, windows]
    runs-on: ubuntu-latest

    steps:
      - uses: actions/setup-python@v4
        with:
          python-version: ${{ inputs.python-version }}

      - run: |
          python -m pip install -U pip
          python -m pip install twine

      - uses: actions/download-artifact@v4
        with:
          path: dist

      - name: Release to PyPI
        uses: pypa/gh-action-pypi-publish@v1.5.1
        with:
          packages_dir: dist/*/
          user: __token__
          password: ${{ secrets.PYPI_API_TOKEN }}
          verbose: true


