name: Build and Upload Package Coverage

on:
  workflow_call:
    inputs:
      python-version:
        required: true
        type: string
      apt-package:
        required: false
        type: string
  
    secrets:
      _GITHUB_TOKEN:
        required: true


jobs:
  coverage:
    name: Run test and generate coverage data
    runs-on: ubuntu-latest

    steps:
      - name: "Set-up: Python ${{ env.cp_python_version }}"
        uses: actions/setup-python@v5
        id: cp310
        with:
            python-version: ${{ inputs.python-version }}

      - name: "Install: apt-get dependencies"
        run: |
          sudo apt-get update
          sudo apt-get install -y ${{ inputs.apt-package }}

      - name: "Checkout requirements and files for testing"
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          submodules: true

      - name: Install everything, run the tests, produce the .coverage file
        run: |
          python -m pip install wheel build
          python -m build --wheel
          python -m pip install .[testing]


      - name: Run pytest with coverage
        run: |
          # pytest-cov will honor .coveragerc automatically
          python -m pytest
          # create XML for the action
          python -m coverage xml -o coverage.xml

      - name: Post coverage comment
        uses: py-cov-action/python-coverage-comment-action@v3
        with:
          coverage-file: coverage.xml
          GITHUB_TOKEN: ${{ secrets._GITHUB_TOKEN }}
          MINIMUM_GREEN: 90
          MINIMUM_ORANGE: 50
